* {
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
}

/*Site container and content*/
.my-container {
    margin: 3% 10%;
    min-width: 600px ;
    height: auto;
    
}

section {
    margin-bottom: 200px;
}

.content {
    /* border: 2px solid blue; */
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/*navbar*/
.img-logo {
    max-width: 100%;
    height: auto;
    max-height: 50px;
   
}

.my-navbar {
    border-bottom: 2px solid orange;
}

.my-navbar a {
    box-shadow: none;
}

.my-brand {
    margin-left: 10%;
}



